{% extends "base.html" %}
{% block title %}Restaurants{% endblock %}
{% block content %}
<h1>Welcome to Tappy Hour!</h1>
    <p>
  Discover the best happy hour specials in town—all in one place. Browse our curated list of restaurants to find deals on drinks, appetizers, and more, or submit your favorite spot via the “Contact Us” page. Admin will take care of submissions and update our site. Cheers to great times and even better prices!
</p>

{% if restaurants %}
<div class="product-gird">
  {% for r in restaurants %}
  <p class="product-card">
    <strong>{{ r.name }}</strong> —
    <a href="{{ r.url }}" target="_blank">Website</a><br/>
    <em>Schedule:</em> {{ r.weekdays or 'n/a' }}<br/>
    <small>Last scraped: {{ r.last_scraped }}</small>
  </p>
  {% endfor %}
</div>
{% else %}
<p>No restaurants to display yet.</p>
{% endif %}
{% endblock %}
